<!DOCTYPE HTML>
<html>
    <head>
        <title>RATS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        h3, h4, a,p{
            text-align: center;
            border-radius: 10px;
        }
        div.outer{
            border-radius: 40px;
            text-align:center;
            /*background-color: rgba(0,200,200,.5);*/
        }
        input, a{
            border-radius: 10px;
        }
        div.w3-container{
            border-radius: 40px;
        }
        div.w3-main{ /* THIS OVERRIDES THE w3-main CLASS IN THE W3.CSS */
            margin: 0 300px 0 0;
        }
    </style>
    </head>

    <body class="w3-light-grey">
        <!-- Top container -->
        <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
            <span class="w3-bar-item w3-right">DLSU COMET Residency Attendance and Tracking System (RATS)
                <img style="height:45px;" src="https://github.com/PoisonIvysaurBridge/comet-rats/blob/master/rats/static/comet%20logo.png?raw=true"/>
            </span>
            
            
        </div>

    
    
    <div class="outer">
        <br><br><br>
        <h1>Welcome!</h1>
        <h5>Please login or register to continue.</h5>

        <div class="w3-container w3-dark-grey w3-padding-32" style="margin: 0 30%">
            <div class="w3-container" align="center">
                    <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        {% if form.errors %}
                            <h5 style="color:red;">Your username and password didn't match. Please try again.</h5>
                        {% endif %}
                        <h2>User Login</h2><hr>
                        <h4>{{ form.username.label_tag }}&nbsp &nbsp{{ form.username }}<h4>
                        <h4>{{ form.password.label_tag }}&nbsp &nbsp{{ form.password }}</h4>
                        <h4><h4>
                        <input type="submit" value="Login" />
                        <!--<input type="hidden" name="next" value="{{ next }}" />-->
                    </form>
                    <hr>OR &nbsp 
                    <a class="btn btn-default" href="{% url 'register' %}" style="border-radius:10px;">Register!</a>
                    
            </div>
        </div>
    </div>
    
            <!-- Footer -->
            <footer class="w3-container w3-padding-16 w3-light-grey">
                <!--<h4>FOOTER</h4>-->
                <p style="text-align:center;">Powered by the same <a href="https://poisonivysaurbridge.pythonanywhere.com" target="_blank">Django</a> :)</p>
            </footer>
        </div><!-- End page content -->
        
        <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
        </script>

        
        <script> // FOR DATE PICKER IN PROJECTS MODULE
        $(function() {
            $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1900:3000",
            // You can put more options here.

            });
        });
        </script>

    </body>
</html>
