{% extends "rats/base.html"%}

{% block sidenav %}
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Overview</a>
        <a href="{% url 'residency' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-calendar fa-fw"></i>  Residency</a>
        <a href="{% url 'attendance' %}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-calendar-check-o fa-fw"></i>  Attendance</a>
        <a href="{% url 'teams' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Teams</a>
        <a href="{% url 'projects' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-code fa-fw"></i>  Projects</a>
    </div>
{% endblock %}

{% block content %}

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-calendar-check-o"></i> Attendance Logging</b></h5>
    </header>

{% endblock %}