<!DOCTYPE HTML>
<html>
    <head>
        <title>RATS</title>
        {% load staticfiles %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        </style>
    </head>

    <body class="w3-light-grey">
        <!-- Top container -->
        <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
            <span class="w3-bar-item w3-right">DLSU COMET Residency Attendance and Tracking System (RATS)
                <img style="height:45px;" src="{% static 'comet logo.png' %}"/>
            </span>
        </div>

        {% if user.is_authenticated %}
        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
            <div class="w3-container w3-row">
                
                <div class="w3-col s4">
                <img src="https://poorishaadi.com/user-icon-png-pnglogocom.png" class="w3-circle w3-margin-right" style="width:46px">
                </div>
                
                <div class="w3-col s8 w3-bar">
                <span><h3>Welcome, <strong>{{user.username}}</strong>!</h3></span><br>
                <!--
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
                -->
                <a href="{% url 'logout' %}" style="text-align:center;">Logout</a>
                </div>
            </div>
            <hr>
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>
            {% block sidenav%}
            {% endblock %}
            
        </nav>
        
        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
        </div>
        
        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:300px;margin-top:53px;">
            {% block content %}
            {% endblock %}
            <!-- Footer -->
            <footer class="w3-container w3-padding-16 w3-light-grey">
                <!--<h4>FOOTER</h4>-->
                <p style="text-align:center;">Powered by the same <a href="https://poisonivysaurbridge.pythonanywhere.com" target="_blank">Django</a> :)</p>
            </footer>
        </div><!-- End page content -->
        {% else %}
            <div style="margin: 10% 30%">
            <h2>Please Login to continue.</h2><hr>
            
            <form method="POST" action="{% url 'toLoginURL' %}">
                {% csrf_token %} 
                <button type="submit" class="btn btn-default" style="border-radius:10px;">login</button>
            </form>
            </div>
        {% endif %}
        <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
        </script>

        
        <script> // FOR DATE PICKER IN PROJECTS MODULE
        $(function() {
            $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1900:3000",
            // You can put more options here.

            });
        });
        </script>

        <!-- FOR PRINTING -->
        <script>
        function printPage() {
            window.print();
        }
        </script>


    </body>
</html>