{% extends 'rats/projects.html' %}

{% block body %}
    
    {% if user.is_authenticated and user == proj.user %}
    <a style="text-decoration:none;" href="{% url 'proj_edit' pk=proj.pk %}"><h5><i class="fa fa-edit"></i> Update Project</h5></a>
    <a style="text-decoration:none;" href="{% url 'proj_remove' pk=proj.pk %}"><h5><i class="fa fa-trash"></i> Remove Project</h5></a>
    {% endif %}
    <hr>
    <h1>{{ proj.name }}</h1>
    <h5>{{ proj.desc }}</h5>
    <h5>Date created: {{proj.date_created}}</h5>
    <h3 style="color:tomato;">Date due: {{ proj.due_date }}</h3>

    <h5>Project status: {{ proj.status|linebreaksbr }}</h5>
    <hr>
    
{% endblock %}