{% extends "rats/base.html"%}

{% block sidenav %}
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Overview</a>
        <a href="{% url 'residency' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-calendar fa-fw"></i>  Residency</a>
        <a href="{% url 'attendance' %}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-calendar-check-o fa-fw"></i>  Attendance</a>
        <a href="{% url 'teams' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Teams</a>
        <a href="{% url 'projects' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-code fa-fw"></i>  Projects</a>
        <a href="{% url 'reports' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-clone fa-fw"></i>  Reports</a>
    </div>
{% endblock %}

{% block content %}

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <a href="{% url 'reports' %}" style="text-decoration:none;"><h4><b><i class="fa fa-clone"></i> Residency Attendance Report</b></h4></a>
    </header>

    <div class="w3-row-padding w3-margin-bottom" style="margin:20px 50px">
    {% block body%}
        <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr>
            <th>Attendance</th>
            <th>Residency Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Duration</th>
            <th>Status</th>
        </tr>

        <tr>
        {% for att in attendances %}
            <td>{{ att.pk }}</td>
            <td>{{ att.residency.date }}</td>
            <td>{{ att.start_time }}</td>
            <td>{{ att.end_time }}</td>
            <td>{{ att.get_total_duration }}</td>
            <td>{{ att.status }}</td>

            </tr>
        {% empty %}
            <h3>No attendance logged yet :(</h3>
        {% endfor %}
        </table>

        <br>
        <!-- PRINT BUTTON -->
        <input class="w3-button w3-teal w3-round" type="submit" onclick="printPage()" action="MK Reports-Item Sales Page.html" value="Print" style="margin: 0 0 40px 48%;">
    {% endblock %}
    </div>

{% endblock %}